# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hmk-life\r\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
